{% extends "layout.html" %}

{% block title %}
    Buy your shares
{% endblock %}

{% block main %}
     <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Insert Stock Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Insert amount of shares" type="int">
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
{% endblock %}
